@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}

header ul{
    position: relative;
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}
header ul li.active a,
header ul li:hover a{
    color: #9730fe;
}
#inicio {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
#inicio .content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}
#inicio .content h2{
    position: relative;
    font-size: 3em;
    color: #9730fe;
}
#inicio .content p{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}
